@import "tailwindcss";



@font-face {
    font-family: font1;
    src: url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap);
}
@font-face {
    font-family: font2;
    src: url(https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;600;700&display=swap);
}

body{
    overflow-x: hidden;
    background-color: white;
}

.moveX{
    animation-name: moveAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.movelink{
    opacity: 0;
}
 .link:hover .movelink{
    opacity: 1;
 }


@keyframes moveAnimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}